<h1>Ahoj Angulare</h1>
<p>{{ahoj}}</p>
<input [(ngModel)]="inputText" type="text" placeholder="Jméno">
<button (click)="buttonOnClick()">klikni</button>
<br/>

<button (click)="callCats()">Gimme cat fact</button>

<ul>
    <li *ngFor="let item of list; let i = index">{{item}} <button (click)="smazat(i)">X</button></li>
</ul>


<button (click)="obrazek()">Přidej obrázek</button>

<ul>
    <li *ngFor="let item of dogs; let i = index"><img src="{{item}}" alt=""> <button (click)="smazatpsa(i)">X</button></li>
</ul>
